<nav class="navbar">
    <div class="nav-left">
        <img src="/images/mentora-logo.png" alt="Mentora Logo" class="logo" />
        <span class="brand">Mentora</span>
    </div>

    <ul class="nav-links">
        <li><a href="/home">Home</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/therapists">Therapists</a></li>
        <li class="profile"><a href="/profile">Profile</a></li>
    </ul>
</nav>